html {
    font-size: 16px;
    font-family: 'Roboto';
    text-align: center;
    color: #c5c6c7;
}

:root {
    --background-color: #0b0c10;
    --header-text: #66fcf1;
    --foreground-color: #1f2833;
    --light-background-color: #c5c6c7;
    --border-color:#45a29e;
}

body {
    background-color: var(--background-color);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Header related CSS goes her*/ 
header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--foreground-color);
    border-bottom: 1px solid var(--border-color);
    width: 100%;
}

header .container {
    padding: 0.5rem 2rem;
}

header img {
    height: 5rem;
}

header nav ul {
    display: flex;
    margin: 0 auto;
}

nav a {
    vertical-align: bottom;
    color: seashell;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    text-decoration: none;
}
